.directory {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    width: 80vw;
    justify-content: center;
    margin: auto;
}

.directory .entries-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    justify-content: center;
}

.directory .entries-item {
    color: var(--dark-gray);
    display: flex;
    justify-content: start;
    padding: 10px 15px;
    height: 30px;
    background-color: #fff4f0;
    align-items: center;
}

.directory .entries-item .entry-name {
    flex-grow: 1;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black-olive);
}

.directory .entries-item .entry-mod-date {
    min-width: 120px;
    font-size: 0.8rem;
}

.directory .entries-item .entry-size {
    text-align: end;
    min-width: 48px;
    font-size: 0.8rem;
}

.directory .entries-item .action-btn {
    color: var(--brown-1);
    white-space: nowrap;
    cursor: pointer;
    height: 100%;
    border-radius: 100px;
    background: var(--pink-1);
    border: none;
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.directory .entries-item .action-btn:nth-child(1 of .action-btn) {
    margin-left: 20px;
}

.directory .entries-item .action-btn:hover {
    color: var(--brown-2);
    background: var(--pink-2);
}

.directory .entries-item .action-btn:active {
    color: var(--brown-3);
    background: var(--pink-3);
}

.directory .entries-item+.entries-item {
    border-top: 1px solid var(--orange-2);
}

.directory .breadcrumbs {
    color: var(--brown-2);
    background: var(--pink-2);
    padding: 6px 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.directory .breadcrumbs a:has(svg) {
    /* fix icon con altura 20 cuando svg tiene altura 16 */
    display: flex;
}

.directory .breadcrumbs a:hover {
    color: var(--brown-2);
    background: var(--pink-2);
}

.directory .breadcrumbs a:active {
    color: var(--brown-3);
    background: var(--pink-3);
}

@media (max-width: 768px) {
    .entry-mod-date {
        display: none;
    }

    .entry-size {
        display: none;
    }
}
